<footer class = "row-fluid navbar-fixed-bottom footer">       
  <!-- FOOTER -->
  <center>        
      <div class="span 12">        
          <div class = "row-fluid">                  
            <div class="span4">
             <ul class="nav nav-list ">
               <li>
                 <ul class= "nav nav-list pull-left ">
                   <li ><%=link_to "Specials", "#" %></li>  
                   <li ><%=link_to "Products", "#" %></li>        
                   <li ><%=link_to "Find Your Local Specialist", "#" %></li>        
                   <li ><%=link_to "Regional", "#" %></li>        
                   <li ><%=link_to "Testimonials", "#" %></li>        
                   <li ><%=link_to "FAQ", "#" %></li>        
                   <li ><%=link_to "Rebates", "#" %></li>        
                   <li ><%=link_to "Why Go Solar?", "#" %></li>                 
                   </ul> 
               </li> 
             </ul>     
             
             
             
                                   
            </div> 
            
            <div class="span4">                
              <ul class="nav nav-list ">
                <li>
                  <ul class= "nav nav-list ">
                    <li ><%=link_to "Specials", "#" %></li>  
                    <li ><%=link_to "Products", "#" %></li>        
                    <li ><%=link_to "Find Your Local Specialist", "#" %></li>        
                    <li ><%=link_to "Regional", "#" %></li>        
                    <li ><%=link_to "Testimonials", "#" %></li>        
                    <li ><%=link_to "FAQ", "#" %></li>        
                    <li ><%=link_to "Rebates", "#" %></li>        
                    <li ><%=link_to "Why Go Solar?", "#" %></li>                 
                    </ul> 
                </li> 
              </ul>        
            </div>  
            
            <div class="span4">                
              <p>"Call Today For The Best Deals Under The Sun"</p>
              <h3>1300 729 515</h3>
            </div>               
        </div>
        
      <center>         
</footer>